# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
.AppleDouble
.LSOverride

# Editor and IDE Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# Logs and Runtime
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
node_modules/
dist/
build/
*.zip
*.crx
